.header {
  background-color: #272727;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.two {
  color: white;
  display: flex;
}
.para1 {
  margin-right: 10px;
  font-weight: bold;
}
.btn3 {
  background-color: #b6c5ff;
  color: white;
  border: 0px;
  border-radius: 12px;
  padding: 10px;
}
.one123 {
  align-self: center;
}
.li123 {
  list-style: none;
}
.home-btn {
  background-color: transparent;
  border: 0px;
  color: white;
}
.home-btn1 {
  background-color: transparent;
  border: 0px;
  color: white;
}
.one123 {
  margin-right: 50px;
}
Link {
  text-decoration: none;
}
@media all and (width>=568px) {
  .home-btn1 {
    display: none;
  }
}
@media all and (width<=567px) {
  .home-btn {
    display: none;
  }
}
